


sup{
	font-size:20px;
}
h2{
	text-align:center;
	margin: 2em;
font-family: 'Raleway', sans-serif;
}
.clock-container{
	 margin-left:auto;
   margin-right:auto;
	display:flex;
	background:black;
	color:white;
	font-size:20px;
	justify-content:center;
	align-content:center;
	flex-wrap: wrap;
	width: 100%;
	padding: 10% 10% 10% 10%;
}

.digit{
	width: 7%;
	height: 7%;
	margin: 1% 1% 1% 1%;
	 display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
	color: #404040;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
    .clock-container{font-size: 30px;}
    
}

.footer{
	text-align:center;
	margin-top: 2em;
	margin-bottom: 2em;
font-family: 'Damion', cursive;
	font-size:30px;
}

.fa {
	color:black;
	margin-left:10px;
}